
<div class="top-container">
  <div class="image-container">
    <img src="./Images/cloud.png" alt="cloud-image" class="top-cloud">
    <h1>I'm Emmanuel</h1>
    <p>a programmer</p>
    <img src="./Images/cloud.png" alt="cloud-image" class="bottom-cloud">
    <img src="./Images/mountain.png" alt="mountain-image" class="mountain-img">
  </div>
</div>
<div class="middle-container">
  <div class="profile">
    <img src="./Images/emekaa.png" alt="profile-picture">
    <h2>Hello.</h2>
    <p>I am an Android and Web Developer. <br> I ❤️ coffee and brew my own beers. 😊</p>
  </div>
  <hr>
  <div class="skills">
    <h2>My Skills.</h2>
    <div class="skill-row">
      <img class="com-img" src="./Images/computer.png" alt="computer">
      <h3>WEB Development</h3>
      <p>I love computer webpages. I decided to take a path in development of webpages due to my passion for it.</p>
    </div>
    <div class="skill-row">
      <img class="nodeJs-img" src="./Images/nodeJs.png" alt="">
      <h3>NodeJs</h3>
      <p>I am a nodeJs developer, I use it to design back-end API services and also using to build fast and scalable
        newtwork applications</p>
    </div>
    <div class="skill-row">
      <img class="expressJS-img" src="./Images/express.png" alt="">
      <h3>ExpressJS</h3>
      <p>I use the expressJS framework to provide server-side logic for web applications. I build single and multi-page
        applications using this awesome framework</p>
    </div>
    <div class="skill-row">
      <img class="mongoDB-img" src="./Images/mongoDB.jpeg" alt="">
      <h3>MongoDB</h3>
      <p>I prefer document-oriented database which gives my preference for mongoDB. I also love it for it's high
        perdormance and availablity. I use it to manage large amount of data storage </p>
    </div>
    <div class="skill-row">
      <img class="mongoose-img" src="./Images/mongoose.png" alt="">
      <h3>Mongoose</h3>
      <p>I love mongoose as it helps me to manage relationships between data, provides schema validation and translate
        between objects in code and the representation of those object in MongoDB</p>
    </div>
    <div class="skill-row">
      <img class="chill-img" src="./Images/chillies.png" alt="">
      <h3>Cooking</h3>
      <p>My sister cooks delicious foods and I have always wanted to prove to her that I could do better. Trust me, you would
        want to taste one of my delicacies.</p>
    </div>
  </div>
  <hr>
  <div class="contact-me">
    <h2>Get In Touch</h2>
    <h3>If you love Computers as much as I do. 🙂</h3>
    <p>Do you love computers? join me and you can see how brilliant they can be. <br> Hope to see you talk on how
      awesome they are through coding.</p>
    <a class="btn" href="/contact">CONTACT ME</a>
  </div>
</div>
<div class="bottom-container">
  <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
  <a class="footer-link" href="https://twitter.com/">Twitter</a>
  <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
  <p>© 2018 Emmanuel Onyejeme.</p>
</div>