* {
  margin: 0;
  padding: 0;
}

body {
  font-family:Arial, Helvetica, sans-serif;
}

#form .container {
  width: 500px;
  max-width: 600px;
  margin: 40px auto;
  outline: 1px solid red;
}

#form .container .l-heading {
  font-size: 2rem;
}

#form .container p {
  margin: 10px 0;
}

